<button type="button" class="btn btn-primary"><%= t('connections.create.pending') %></button><br>

<small class="text-muted"><%= t('connections.create.pending_message', name: connector.name) %></small><br>
