<div class="d-grid">
  <% if connection.status == "accepted" %>
    <%= link_to t('connections.update.accepted'), "javascript:void(0)", class: "btn btn-success mt-2" %>
  <% elsif connection.status == "rejected" %>
    <%= link_to t('connections.update.rejected'), "javascript:void(0)", class: "btn btn-danger mt-2" %>
  <% else %>
    <%= link_to t('connections.update.pending'), "javascript:void(0)", class: "btn btn-primary mt-2" %>
  <% end %>
</div>
